@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {

}

h2 {
      font-weight: 700;
      font-size: 49px;
}

h3 {
    font-weight: 700;
   font-size: 39px;
}

h4{ 
    font-weight: 700;
    font-size: 16px;    
}

h5 {
    font-weight: 700;
    font-size: 20px;
}

p2 {
   font-weight: 400;
   font-size: 10px;   
}

p3 {
    font-weight: 700;
    font-size: 20px;
}
p5 {
    font-weight: 400;
    font-size: 20px;
}


/* -------Buttons------- */
.viewAll {
    width: 136px;
    height: 49px;
    border-radius: 218px;
    border: none;
    color: white;
    background-color: black;
}

span {
    font-size: 10px;
    font-weight: 400;
}