.news-part1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1510px;
    margin: 5rem auto 5rem auto;     
}

.news-part1 .news-part1-sidenews {    
    max-width: 276px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.newsData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 1rem;
}

.news-part1 .newsContents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-part1 .newsContents img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}
.news-part1 .newsContents h4 {
    margin: 0;
}







.news-part1 .part1-middlenews {  
    max-width: 650px;  
    display: flex;
    flex-direction: column; 
    height: 640px;   
    max-height: 640px;
    justify-content: space-between;
    align-items: center;
}
.news-part1 .part1-middlenews h3 {
    margin: 0 0 5px 0;
}
.news-part1 .part1-lastnews {
    height: 640px;
    max-height: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.news-part1 .part1-lastnews img {
    width: 425px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    
}



/* --------------------Media qurey-------------- */

@media(max-width:3000px){
    .part1-middlenews .tab-news img {
        display: none;
       
    }
    .mobile-part .mobile-news{
        display: none;
    }
}
@media(max-width:1395px){
    .news-part1-sidenews .newsContents:nth-child(5){
        display: none   ;
    }
}

@media(max-width:1520px){
    .news-part1{
        max-width: 90vw;
    }
    .newsData{
        margin-left: 0;
    }
}


@media (max-width:1250px){
    .news-part1 .newsContents {
        display: block;
       
    }
    .news-part1 .part1-lastnews img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
   .news-part1 .part1-middlenews{
    max-width: 520px;  
    display: flex;
    flex-direction: column; 
    height: 640px;   
    max-height: 640px;
    justify-content: space-between;
    align-items: center;
   }
}


@media (max-width:1126px){

    .news-part1 .part1-lastnews img{
        display: none;
    }

    .part1-middlenews .tab-news img{
    display: block;
    width: 500px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.part1-middlenews h3{
    font-weight: 700;
    font-size: 25px;
}
.news-part1-sidenews .newsContents:nth-child(4),
.news-part1-sidenews .newsContents:nth-child(5){
    display: none;
}


}

@media(max-width:700px){
    
    .news-part1 .part1-lastnews img{
        display: none;
    }

.part1-middlenews h3{
    font-weight: 700;
    font-size: 20px;
}

.part1-middlenews p5{
    font-weight: 400;
    font-size: 17px;
}
.news-part1-sidenews .newsContents:nth-child(4),
.news-part1-sidenews .newsContents:nth-child(5){
    display: none;
}
.part1-middlenews .tab-news img{
    display: block;
    width: 450px;
    height: 245px;
    object-fit: cover;
    border-radius: 10px;
}

}



@media (max-width:580px){

    .news-part1-sidenews .newsContents:nth-child(4),
    .news-part1-sidenews .newsContents:nth-child(5){
        display: block;
    }
    .news-part1-sidenews .newsContents:nth-child(4),
    .news-part1-sidenews .newsContents:nth-child(5){
        display: flex;
    }

    .news-part1 .newsContents {
        display: flex;
        
    }
    .newsData{
        margin-left: 1rem;
    }
    .mobile-part .mobile-news{
        display: block;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
       
    }
    .news-part1 .part1-middlenews .tab-news{
        display: none;
    }
    .news-part1 .part1-middlenews{
        display: none;
    }

    .mobile-part .mobile-news h3{
        font-weight: 700;
        font-size: 16px;
    }
    .mobile-part .mobile-news  p5{
        font-weight: 400;
        font-size: 13px;
    }
    .mobile-part{
        margin-left: auto;
        margin-right: auto;
    }

}
   


/* -------------------------HomeBottomContent---------------------------------------- */
.homepart2 {
    display: flex;
    flex-direction: column;
    margin-top: 56px;    
}
.homepart2 .title {
    max-width: 1164px;
    display: flex;
    justify-content:space-between;
    align-items: center;   
    margin: 0 auto 46px ;
}


.homepart2 .title button:hover{
     background-color: white;
     color: #202020;
}

.homepart2 .content{
    max-width: 1164px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 55px auto;
}
.homepart2 .content  .cBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    margin: 0 2px 0 2px
}
.homepart2 .content img {    
    height: 258px;    
    width: 375px;
    background-color: antiquewhite;
    border-radius: 8px;
    margin-bottom: 30px;
}






.homepart2 .content p3 {
    max-width: 374px;    
    margin-bottom: 8px;
}
.homepart2 .content .t-d .dot {
    background-color: black;
    height: 4px;
    width: 4px;
    border-radius: 50%;
}
.homepart2 .content .t-d {
    width: 130px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}
.homepart2 .content .t-d p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    margin: 0;
    height: 22px;
    width: 60px;
    border-radius: 27px;
}

.line {
    max-width: 1160px;
    margin: auto;
    background-color: black;
    height: 1px;
    margin-bottom: 56px;    
}




/*------------------------ Media query--------------- */

@media (max-width:1200px) and (min-width:769px) {
    .line {
        width: 97vw;
    }
    .homepart2 .title {
        max-width: 97vw;
    }    
    .homepart2 .content {
        margin: 0 auto 55px auto;
    }
    .homepart2 .content img  {
        width: 32vw;
        margin: auto auto 30px auto;
    }
    .homepart2 .content p3 {
        min-height: 56px;
        
    }
}

@media screen and (max-width:768px){
    .homepart2 .content{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .homepart2 .title button {
        display: none;
    }            
    .homepart2 .content  .cBox  {                        
        margin-bottom: 50px;
        width: 96vw;
    }
    .homepart2 .content img {  
        width: 100%;      
        margin: 0 auto 30px auto;        
    }
}