.navbar{
    background-color: #ffffff;
    height: 70px;
    position: relative;
    /* box-shadow: 5px 5px 5px gray; */
  }
  .mx-2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #232323;
}
.nav-link{
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: relative;
    transition: all 0.4s;
}



.nav-link::after{
content: "";
height: 2px;
width: 100%;
background: #232323;
position: absolute;
left: 0;
bottom: 13px;
opacity: 0;
}

.nav-link:hover::after{
    opacity: 1;
}


.form-control{
    width: 100px; 
    height: 35px;
    position: relative;  
    border-radius: 25px;
}
/* .box-seach-icon{
    width: 52px;
    height: 36px;
    background-color: #ffffff;
    position: absolute;
    left: 1215px;
    border-radius: 25px;
    box-shadow: 0 5px 5px gray;
} */


.d-flex .search-icon{
    position: absolute;
    top: 24px;
    right: 184px;
}

.search-input input[type="text"]::placeholder{
padding-left: 1.5rem;
} 



.form-control{
box-shadow: 5px 5px 5px gray;
}
.fa-solid{
    position: absolute;
    top: 11px;
    right: 70px;
}

.search-input .form-control{
border-radius: 20px;
}

.options{
    width: 200px;
    display: flex;
    justify-content: space-between;
    
}

.category .btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
   
}





input[type="text"]::placeholder{
    text-align: left;
    padding-left: 1rem;
}


/* Media qurey */


@media (max-width:991px){
    .d-flex .search-icon{
        position: absolute;
        top: 336px;
        right: 358px;
    }
    
}
@media (max-width:400px){
    .d-flex .search-icon{
        position: absolute;
        top: 336px;
        right: 358px;
    }
}