.updates{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(254, 118, 118);
}




/* 
.liveupdates{
    
    display: flex;
   
} */


.nift-update ul{
    display: flex;
}
.sensex-update ul{
    display: flex;
}
.usdinr-update ul{
    display: flex;
}

.nift-update ul li{
    list-style: none;
    margin: 0 0.3rem;
}
.sensex-update ul li{
    list-style: none;
    margin: 0 0.3rem;
}
.usdinr-update ul li{
    list-style: none;
    margin: 0 0.3rem;
    
}

.weather-cricket-update{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    float: left;
   
}
.cricket-update{
    display: flex;
}